@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> L
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex align-items-center gap-2">
                <pre class="mb-0 d-flex align-items-center" style="padding:0; margin:0;">
                    <code>v0.4.0-a38</code>
                </pre>
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
            <div class="ms-auto">
                @* <LanguageSwitcher /> *@
                <TimeTicker @rendermode="RenderMode.InteractiveServer" />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
