name: Build and publish Docker image

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Image version tag (e.g. 1.2.3)"
        required: true
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: repasscloud
          password: ${{ secrets.ORG_DOCKER_PAT }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            repasscloud/cinturon360-app:${{ github.event.inputs.version }}
            repasscloud/cinturon360-app:latest
          build-args: |
            CSPROJ_WEB=Cinturon360.Web/Cinturon360.Web.csproj
            CSPROJ_SHARED=Cinturon360.Shared/Cinturon360.Shared.csproj
